.map {
  position : absolute;
  right    : 35%;
  bottom   : 0;
  left     : 0;
  top      : 0;
}
.content {
  position : absolute;
  right    : 0;
  bottom   : 0;
  left     : 70%;
}
.quickinfo {
  position : absolute;
  right    : 0;
  left     : 0;
  padding-left: 5px;
  background: white;
  border-bottom: 1px solid black;
}

.quickinfo-content {
  cursor: pointer;
}

.quickinfo .title {
  display: inline;
  margin-left: 5px;
  font-size: 16px;
}
